---

import Skills from "../components/Skills.astro";

const onedots = "https://www.coolfreecv.com/images/icon/one0C53A4.png";
const twodots = "https://www.coolfreecv.com/images/icon/two0C53A4.png";
const threedots = "https://www.coolfreecv.com/images/icon/three0C53A4.png";
const fourdots = "https://www.coolfreecv.com/images/icon/four0C53A4.png";
const fivedots = "https://www.coolfreecv.com/images/icon/five0C53A4.png";

const gonedots= "https://www.coolfreecv.com/images/icon/one21A021.png"
const gtwodots= "https://www.coolfreecv.com/images/icon/two21A021.png"
const gthreedots= "https://www.coolfreecv.com/images/icon/three21A021.png"
const gfourdots= "https://www.coolfreecv.com/images/icon/four21A021.png"
const gfivedots= "https://www.coolfreecv.com/images/icon/five21A021.png"

---
  <div
    class="w-48 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
  >
    <a
      href="#backend-proficiencies"
      class="block py-2 px-4 w-full text-white bg-green-700 rounded-t-lg border-b border-gray-200 cursor-pointer dark:bg-gray-800 dark:border-gray-600"
    >
      BackEnd Proficiencies
    </a>

    <a
      href="/Astro-Portfolio-Byron-Dalberg/resume/python"
      class="block py-2 px-4 w-full border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white"
    >
      Python
      <img src={gthreedots}>
    </a>
    <a
      href="/Astro-Portfolio-Byron-Dalberg/resume/node"
      class="block py-2 px-4 w-full border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white"
    >
      Node
      <img src={gfivedots}>
    </a>
    <a
      href="/Astro-Portfolio-Byron-Dalberg/resume/express"
      class="block py-2 px-4 w-full border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white"
    >
      Express
      <img src={gfivedots}>
    </a>
    <a
      href="/Astro-Portfolio-Byron-Dalberg/resume/mysql-sequelize"
      class="block py-2 px-4 w-full border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white"
    >
      MySQL, Sequelize
      <img src={gthreedots}>
    </a>
    <a
      href="/Astro-Portfolio-Byron-Dalberg/resume/mongodb-mongoose"
      class="block py-2 px-4 w-full border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white"
    >
      MongoDB, Mongoose
      <img src={gfivedots}>
    </a>
    <a
      href="/Astro-Portfolio-Byron-Dalberg/resume/rest"
      class="block py-2 px-4 w-full border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white"
    >
      REST
      <img src={gthreedots}>
    </a>
    <a
      href="/Astro-Portfolio-Byron-Dalberg/resume/graphql"
      class="block py-2 px-4 w-full border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white"
    >
      GraphQL
      <img src={gthreedots}>
    </a>
    <a
      href="/Astro-Portfolio-Byron-Dalberg/resume/apis"
      class="block py-2 px-4 w-full border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white"
    >
      APIs
      <img src={gfivedots}>
    </a>
  </div>
<style>
    img {
        width: 90px;
        height: 18px;
        object-fit: cover;
    }
</style>
